.contacts {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .contact-info {
    margin-top: 20px;
  }
  
  .contact-info p {
    margin-bottom: 10px;
  }
  
  .contact-info ul {
    list-style: none;
    padding-left: 0;
  }
  
  .contact-info li {
    margin-bottom: 5px;
  }
  
  .contact-info a {
    color: blue;
    text-decoration: none;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  